node-red/flows.json
[{"id":"e763a4fb.f5cd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c929550a.769a28","type":"serial in","z":"e763a4fb.f5cd8","name":"In Device","serial":"e6b44e4e.d237b","x":98,"y":128,"wires":[["b8998b3c.4ed62","d04cc87d.7c1398"]]},{"id":"d04cc87d.7c1398","type":"debug","z":"e763a4fb.f5cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":313,"y":134,"wires":[]},{"id":"b8998b3c.4ed62","type":"mqtt out","z":"e763a4fb.f5cd8","name":"","topic":"/tag/out","qos":"0","retain":"false","broker":"a0aa9553.ed8b1","x":303,"y":237,"wires":[]},{"id":"e6b44e4e.d237b","type":"serial-port","z":"","serialport":"/dev/tty.Bluetooth-Incoming-Port","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a0aa9553.ed8b1","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m10.cloudmqtt.com","port":"19839","clientid":"device_temp","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]